<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PatternFly Element | <%= elementName %> Demo</title>

    <noscript>
      <link href="../../pfelement/pfelement-noscript.min.css" rel="stylesheet">
    </noscript>

    <link href="../../pfelement/pfelement.min.css" rel="stylesheet">

    <!-- uncomment the es5-adapter if you're using the umd version -->
    <script src="/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
    <script>
      require([
        "../<%= elementName %>.umd.js"
      ]);
    </script>
  </head>
  <body unresolved>
    <h1>&lt;<%= elementName %>&gt;</h1>
    <<%= elementName %>>
      <h2>This is <%= elementName %></h2>
      <!-- Slots -->
      <% for(let i = 0; i < slots.length; i++) { %>
      <div slot="<% slots[i] %>"><% _.capitalize(slots[i]) %> slot</div>
      <% } %>
    </<%= elementName %>>

    <!-- Preview different properties -->
    <% for(let i = 0; i < attributes.length; i++) { %>
    <<%= elementName %> <% attributes[i] %>="">
      <h2>This is <%= elementName %></h2>
      <!-- Slots -->
      <% for(let i = 0; i < slots.length; i++) { %>
      <div slot="<% slots[i] %>"><% _.capitalize(slots[i]) %> slot</div>
      <% } %>
    </<%= elementName %>>
    <% } %>
  </body>
</html>
